
@model DoorToGate.Models.TSAWaitTime

<div>
    <ul>
        <li class="list-group-item">
            <div class="card">
                <h2 class="card-title">Airport Name:@Model.name</h2>
                <h2 class="card-title">Airport Code:@Model.code</h2>
                <h2 class="card-title">Airport City:@Model.city</h2>
                <h2 class="card-title">Airport Current Wait:@Model.rightnow minutes</h2>
            </div>
        </li>
    </ul>
</div>
