@model TravelTimeViewModel


@*
<form asp-action="TravelTime" asp-controller="Home">

    @Html.RadioButtonFor(m => m.ArriveBy, true) Arrival Time: <input asp-for="Time" type="time" step="60"/>
    @Html.RadioButtonFor(m => m.ArriveBy, false) Departure Time: <input asp-for="Time" type="time" step="z" />

    @Html.TextBoxFor(m => m.Location)
    <input asp-for="Location" asp-route="location" />
    <input asp-for="AirportName" asp-route="airport" />
</form>*@

